body{
margin: 0;
display: flex;
background-color: black;}

.tudo{
    position: fixed;
}

header{
width: 15%;
height: 100vh;
background-color: black;
color: white;
position: static;
top: 0;}

a{
color: white;
background-color: transparent;
-webkit-text-decoration-skip: objects;
text-decoration: none;}

.logo{
color: #fff;
text-transform: uppercase;
font-weight:  bold;
margin-left: 13%;
font-size: 20px;
font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}

.menu{
display: flex;
color: #fff;
text-transform: uppercase;
font-size: .8rem;
margin-left: 13%;
margin-top: 3%;
font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}

.fake{color: transparent;}
.fake02{color: transparent;}

svg{
height: 15px;
fill: white;
transition:0.5s;}

svg:hover{fill: rgb(161,5,1);}

.icons{margin-left: 13%;}
.face{margin-right: 13%;}
.insta{margin-right: 13%;}


section{
height: 100vh;
width: 85%;
background-image: url(img_9.jpg.webp);
background-size: cover;
background-attachment: fixed;}

.welcome{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
backdrop-filter: brightness(48%);
text-align: center;
}

.welcome p{
width: 60%;
color: #fff;
font-size: large;
}

.welcome h1{
color: #fff;
font-size: 4.5em;
font-weight: 400;
font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
line-height: 1.5;
text-align: left;}

.button{
border-radius: 50px;
color: #fff;
background-color: #df0e62;
border-color: #df0e62;
width: 130px;
height: 25px;
font-weight: 400;}

.colecao{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: black;
row-gap: 10px;}

.fotos{
width: 33%;
height: 33vh;
overflow: hidden;
position: relative;}

.fotos img{
width: 100%;
height: 100%;
object-fit: cover;
transition: 1s;}

.fotos:hover img{filter: brightness(50%);}

.fotos svg{
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
opacity: 0;
transition: 1s;}

.fotos:hover svg{
opacity: 1;
top: 50%;}

h2{
font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
color: #fff;
text-align: center;
font-weight: 500;
line-height: 1.2;
margin-top: 10%;
font-size: 4rem;}

h3{color: #fff;
text-align: center;}

.person_3 img{
object-fit: cover;
border-radius: 50px;
height: 20vh;
width: 20%;}

.person_3{text-align: center;}

p{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
unicode-bidi: isolate;
color: #808080;
text-align: center;}

.biografia{
    background-color: #1a1a1a;
    position: relative;
}

.biography img{
    height: 360px;
    margin-left: 20%;
    margin-top: 1%;
}

.biografia p{
    color: #fff;
    font-size: 30px;
    margin-right: 52%;
}

h4{
    color: #fff;
    font-size: 70px;
    margin-left: 20%;
    padding-top: 6%;
    font-weight: 500;
}

.Hi{
    color: #fff;
    font-size: 30px;
    margin-right: 52%;
}

.p1{
    margin-right: 20%;
}

.p2{
margin-right: 22%;
}

.Photographer{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 17%;
    margin-right: 55%;
}
